NEXT_PUBLIC_API_ENVIRONMENT=sandbox
NEXT_PUBLIC_DEMO_URL=https://react-native-next-theme-web.vercel.app
NEXT_PUBLIC_DEMO_URL=https://react-native-next-theme-web.vercel.app
NEXT_PUBLIC_SUPPORT_EMAIL=abdallaharef65@gmail.com
